body{
    background-image: url(res/img/bg.jpg);
}
.title{
    width: 60%;
    height: 70%;
    text-align: right;
    font-family: 'Microsoft Yahei', sans-serif;
}
h1{
    color: white;
    text-align: right;
}